<?xml version="1.0"?>
<config>
    <modules>
        <Mkd_Helloworld>
            <version>0.1.0</version>
        </Mkd_Helloworld>
    </modules>
    <global>
        <blocks>
            <helloworld>
                <class>Mkd_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <helpers>
            <helloworld>
                <class>Mkd_Helloworld_Helper</class>
            </helloworld>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Mkd_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <translate>
            <modules>
                <Mkd_Helloworld>
                    <files>
                        <default>Mkd_Helloworld.csv</default>
                    </files>
                </Mkd_Helloworld>
            </modules>
        </translate>
    </frontend>
</config>
